html {
  font-size: 14px;
  font-family: monospace;
}
body {
  width: 90%;
  margin: auto;
}
.header {
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 46px;
  text-align: center;
}
.footer {
  clear: both;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 10px;
  text-align: center;
}
.content {
  float: left;
  width: calc(60% - 20px);
  font-size: 14px;
}
.navigation {
  float: left;
  width: 20%;
  height: 215px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
}
.sidebar {
  float: left;
  width: 20%;
  height: 215px;
  margin: 10px 0 10px 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 10px;
}
.article {
  min-height: 100px;
  padding: 10px;
  border-radius: 8px;
}
.fancy-border {
  border: solid blue 2px;
  box-sizing: border-box;
}
[class$="r"] {
  background-color: magenta;
}
[class*="a"]:not([class$="r"]) {
  background-color: blue;
  color: white;
}