<div class="container theme-showcase" role="main">
  <h1 class="page-header"> List of Movies </h1>
  <div class="new-movie">
    <a href="#/movies/new" type="button" class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i> New Movie
    </a>
  </div>
  
  <a ng-repeat="movie in movies" class="movie-list" href="#movie/{{movie.id}}">
    <article>
      <img ng-if="movie.plot" title="{{movie.name}}" ng-src="{{movie.plot}}">
      <img ng-if="!movie.plot" title="{{movie.name}}" ng-src="app/assets/img/no_image.jpg">
      {{movie.name}}
    </article>
  </a>
</div>