body {
  margin: auto;
}
section {
  text-align: center;
}

.new-movie {
  text-align: right;
}
.movie-list img{
  height: 80px;
  font-size: 16px;
}

.movie-list:hover {
  text-decoration: none;
  font-size: 18px;
}


article {
  width: 500px;
  margin: 30px auto;
  position: relative;
  box-shadow: 3px 3px 5px 2px #ccc;
  -moz-box-shadow: 3px 3px 5px 2px #ccc;
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;
}

article .action {
  padding: 3px 3px 3px 10px;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 5px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer
}

article .action a, article .action a:hover {
  color: #fff;
  text-decoration: none;
}

article .image img {
  width: 100%;
  height: 350px;
}

article .plot img {
  width: 100%;
}
article .plot {
  width: 150px;
  top: 280px;
  left: 20px;
  position: absolute;
}

.margin-text {
  margin-left: 190px; 
}

article .title {
  font-size: 40px;
  font-family: monospace;
}

article .description {
  padding: 0 30px 30px 30px;
}

article .star {
  background: url('../images/stars.png'); 
}

.margin-group {
  margin: 0 30px; 
}

.input-group {
  padding: 10px 25px;
}